<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for site_page in site.pages %}
        {% if site_page.title != null %}
          {% if site_page.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == site_page.url %} active{% endif %}" href="{{ site_page.url }}">{{ site_page.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item{% if page.url == '/' or page.url == '' or page.url contains 'page' %} active{% endif %}" href="/">Projects</a>
    </nav>

    <div class="sidebar-footer">
      <ul class="icons">
        <li><a href="mailto:christopher.chiles1@gmail.com"><span class="fas fa-envelope fa-lg"></span></a></li>
        <li><a href="https://www.linkedin.com/in/christopherchiles1" target="blank"><span class="fab fa-linkedin fa-lg"></span></a></li>
        <li><a href="https://github.com/christopherchiles1" target="blank"><span class="fab fa-github fa-lg"></span></a></li>
      </ul>
    </div>
  </div>
</div>
