<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Projects</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-footer">
      <ul class="icons">
        <li><a href="mailto:christopher.chiles1@gmail.com"><span class="fas fa-envelope fa-lg"></span></a></li>
        <li><a href="https://www.linkedin.com/in/christopherchiles1" target="blank"><span class="fab fa-linkedin fa-lg"></span></a></li>
        <li><a href="https://github.com/christopherchiles1" target="blank"><span class="fab fa-github fa-lg"></span></a></li>
      </ul>
    </div>
  </div>
</div>
